.hero{
    margin-bottom: 50px;
}

.hero .container{
    background: url(./../../assets/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 550px;
}

.hero .hero-content{
    width: 70%;
}

.hero .hero-text{
    width: 70%;
    margin-bottom: 20px;
}